*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    background-image: url(imagens/12893175_5072612.jpg);
     display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
     height: 100vh;
     background-position: center;
      background-size: cover;
}
h1{
    color: white;
    text-align: center;
    font-size: 5rem;
}
p{
    color: white;
    text-align: center;
    font-size: 2.8rem;
}
.buttons{
    display: flex;
    gap: 20px;
    margin-top: 30px

}
button{
    width: 250px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid rgb(50, 4, 61);
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5em;
    box-shadow: 0 15px 35px rgba(248, 2, 248, 0.4);
}
